table,
td,
th {
  border: 1px solid black;
  border-collapse: collapse;
}

td,
th {
  padding: 5px;
}

body {
  background-color: var(--bs-body-bg);
}

a {
    color: var(	--bs-emphasis-color);

    &.add_session_button {
        color: var(--bs-tertiary-bg);
    }
}
