{% extends 'base.html.twig' %} {% block title %}Liste des personnes{% endblock
%} {% block body %}

<h1 class="p-3">Liste des personnes</h1>

<h2 class="p-3">Formateurs</h2>

<table class="table table-striped">
  <tr>
    <th>Personne</th>
  </tr>
  {% for teacher in teachers %}
  <tr>
    <td>
      <a
        href="{{ path('detail_person', { type: 'teacher', id: teacher.id }) }}"
      >
        {{ teacher }}</a
      >
    </td>
  </tr>
  {% endfor %}
</table>

<h2 class="p-3">Stagiaires</h2>

<table class="table table-striped">
  <tr>
    <th>Personne</th>
  </tr>
  {% for pupil in pupils %}
  <tr>
    <td>
      <a href="{{ path('detail_person', { type: 'pupil', id: pupil.id }) }}">
        {{ pupil }}
      </a>
    </td>
  </tr>
  {% endfor %}
</table>
{% endblock %}
